<h1>Editing pin</h1>

<%# render "form", pin: @pin %>

<%= form_with(model: @pin, id: "rsvp") do |form| %>
  <% if @pin.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h2>
      <ul>
        <% @pin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Project Title", class: "form-label", style: "display: block; font-size: 1.5em;" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>  <br/>

  <div>
    <%= form.label "Cover Image", style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div> <br/>

  <div>
    <%= form.label :use_link, style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.check_box :use_link, id: "use_link_checkbox", class: "form-check" %>
  </div> <br/>

  <div id="turn_on_form_link_box">
    <%= form.label :page, style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.text_field :page, class: "form-control" %>
  </div>

  <div id="turn_off_form_checkbox">
    <div>
      <%= form.label :body, style: "display: block; font-size: 1.5em;", class: "form-label" %>
      <%= form.rich_text_area :body, class: "form-control" %>
    </div>
  </div> <br/> <br/>

  <div>
    <%= form.submit "Update Project", style: "form-control" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this project", @pin %> |
  <%= link_to "Back to manager", pins_path %>
</div>
