<h1>Project Manager</h1>
<table class="table table-bordered table-stripped table-dark border-secondary table-sm" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @pins.each_with_index do |pin, index| %>
    <tr style="vertical-align: middle;">
      <th scope="row"> <%= index %> </th>
      <td> <%= pin.title %> </td>

      <td class="d-flex"> 
        <%= render partial: "buttonget", locals: { text: "View", link: pin } %> 
        <%= render partial: "buttonget", locals: { text: "Edit", link: edit_pin_path(pin) } %> 
        <%= button_to "Destroy", pin, class: "col btn btn-primary", method: :delete, style:"margin-right: 1em;", :onclick => "return confirm('Are you sure?')" %>
      </td>      
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New pin", new_pin_path %>
