<% if current_page?(root_url) && HomeVideo.all.length > 0 %>
    <div class=" banner-height banner-container">       
        <% HomeVideo.all.shuffle.each_with_index do |video, index| %>
            <video muted playsinline id="banner-video-<%= index %>" style='display: none;'>
                <source 
                    src=<%= url_for(video.video) %> 
                    type=<%= video.get_type %> >
            </video>
        <% end %>      
    </div>
<% end %>
<div class=" banner-height banner-container" style="z-index: 1000; background: rgba(0,0,0,0.6); ">   
</div>
<div class="banner-height" style="position: absolute; color: white; font-size: 3em; z-index: 10001; width: 100%; left: 0px; ">
    <div style="margin: auto; height: 100%; display: flex; flex-direction: column; align-content: center;
    width: 100%; position: relative; justify-content: center; flex-wrap: wrap;">
        <div style="text-align: center; background: rgba(0,0,0,0); border-radius: 45px; width: 68vw; display: flex; flex-direction: column; padding: 15px;">
            <span style="font-size: 5vw; height: fit-content; display: inline-block;"> 
                Anthony D'Alesandro
            </span>
            <span style="font-size:2vw; color: rgb(200,200,200); height: fit-content; display: inline-block; text-align: center;"> 
                Software Engineer . Game Developer . Athlete
            </span>
        </div>
    </div>
</div>
<div class="banner-height" style="margin-bottom: 10px;"> </div>

<%#
<p style="font-size: 2em; color: white; margin: auto; text-align: center;"> Tony D'Alesandro </p>
%>
<p style="text-align: center; color: white; margin: 50px;">
    <span style="font-size: 3em;"> About Me </span>
</p>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <div style="width: min-content; margin: 25px;">
        <%= image_tag("ProfPhoto.JPG", style: "max-width: 85vw; width: 300px; border-radius: 5%;") %>
    </div>
    <div style="max-width: 85vw; width: 500px; color: white; margin: auto; vertical-align: middle;">
        <p>
            I'm <span style="color: orangered"> Anthony D'Alesandro </span>, a software engineer and game developer based in Columbus, Ohio. 
            I earned my education from the Ohio State University and have a passion for both coding and creating immersive gaming experiences. 
            When I'm not in front of a computer, you'll often find me on the running trail. 
            Feel free to reach out with any questions or to chat about software, game development, or running.
        </p>
        <p style="text-align: center; color: white;">
            <span> Let's connect! </span>
        </p>
    </div>
</div>

<div style="width: 100%; height: 5px; background: white; margin: 25px;"> </div>
<p style="text-align: center; color: white; margin-bottom: 50px;">
    <span style="font-size: 3em;"> Skills and Expertise </span>
</p>
<div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
    <div style="max-width: 85vw; width: 500px; color: white; vertical-align: middle;">
        <% [["C#", "95%"], ["JavaScript/HTML/CSS", "80%"], ["Unity", "90%"], ["Python", "70%"]].each do |skill_and_percentage| %>
            <% skill = skill_and_percentage[0] %>
            <% percent = skill_and_percentage[1] %>
            <div class="skill-bar">
                <%= skill %>
                <div class="skill-level" style="width: <%="#{percent}"%>;"><%= percent %></div>
            </div>
        <% end %>
    </div>
</div>

<div style="width: 100%; height: 5px; background: white; margin: 25px; margin-top: 75px;"> </div>
<p style="text-align: center; color: white; margin-bottom: 50px;">
    <span style="font-size: 3em;"> Featured Projects </span>
</p>
<% if @projects.count == 0 %>
    <p style="text-align: center; margin: auto; font-size: 1.5em;" > There are no featured projects. </p>
<% end %>
<div style="justify-content: center" class="d-flex flex-row flex-wrap mb-3">
  <% @projects.each do |project| %>
    <div class="p-2">
      <div class="card" style="width: 18rem; border: 2px solid gray;">
        <% if project.image.content_type.in?(%w[image/jpeg image/png])%>
          <%= link_to image_tag(project.image, class: "card-img-top", style: "width: 100%; height: ;"), url_for(project.image) if project.image.attached? %>
          <hr />
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= project.title %> </h5>
          <% project.tags.each do |tag| %>
            <% if !tag.name.start_with?("!") %>
              <% properties = get_tag_colors(tag.name, 1.5) %>
              <div style="background: rgb(<%=properties[:background]%>); color: rgb(<%=properties[:text]%>); padding: 5px; border-radius: 5px; padding-top: 2px; padding-bottom:2px; width: fit-content; display: inline-block; vertical-align: middle; padding-right: 5px; margin-bottom: 5px;">
                <div style="#position: relative; font-size: 0.7em;">
                  <%= tag.name %>
                </div>
              </div>
            <% end %>
          <% end %>
          <p class="card-text"><%= project.description%> </p>
          <% if project[:use_link] %>
            <%= link_to "View Project", project.page, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "View Project", project, class: "btn btn-primary" %>        
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

