<h1>New Project</h1>

<%= form_with(model: @project, id: "rsvp") do |form| %>
  <% if @project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% @project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label "Project Title", style: "display: block; font-size: 1.5em;" %>
    <%= form.text_field :title,  class: "form-control" %>
  </div>

  <br/>

  <%# form to add new tags%>
  <div>
    <%= form.label "Tags", style: "display: block; font-size: 1.5em;" %>
    <%= form.text_field :tags_to_use, value: @current_tags,  class: "form-control" %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :started, style: "display: block; font-size: 1.5em;" %>
    <%= form.date_field :started,  class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :completed, style: "display: block; font-size: 1.5em;" %>
    <%= form.date_field :completed,  class: "form-control" %>
  </div>
  <br/>
  <div>
    <%= form.label :irrelevant, style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.check_box :irrelevant, class: "form-check" %>
  </div> <br/>
    <div>
    <%= form.label :featured, style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.check_box :featured, class: "form-check" %>
  </div> <br/>
  <div>
    <%= form.label :is_completed, style: "display: block; font-size: 1.5em;", class: "form-label" %>
    <%= form.check_box :is_completed, class: "form-check" %>
  </div> <br/>

  <div class="field">
    <%= form.label :teamsize, style: "display: block; font-size: 1.5em;" %>
    <%= form.number_field :teamsize,  class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :time_taken, style: "display: block; font-size: 1.5em;" %>
    <%= form.number_field :time_taken,  class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :work_taken, style: "display: block; font-size: 1.5em;" %>
    <%= form.number_field :work_taken,  class: "form-control" %>
  </div>
  <div>
    <%= form.label "Description", class: "form-label", style: "display: block; font-size: 1.5em;" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>  <br/>
  <div>
    <%= form.label "Github", class: "form-label", style: "display: block; font-size: 1.5em;" %>
    <%= form.text_field :github, class: "form-control" %>
  </div>  <br/>

  <br/>
  <div>
    <%= form.label "Cover Image", style: "display: block; font-size: 1.5em;" %>
    <%= form.file_field :image %>
  </div>
  <br/>
  <div>
    <%= form.label :use_link, style: "display: block; font-size: 1.5em;" %>
    <%= form.check_box :use_link, id: "use_link_checkbox" %>
    <%= form.text_field :page %>
  </div>
  <br/>
  <div id="turn_off_form_checkbox">
    <div>
      <%= form.label :body, style: "display: block; font-size: 1.5em;" %>
      <%= form.rich_text_area :body %>
    </div>
  </div>

  <br/>
  <br/>

  <div>
    <%= form.submit "Create Project", style: "form-control" %>
  </div>
<% end %>
<br>
<div>
  <%= link_to "Back to manager", @projects_path %>
</div>
