<p style="color: green"><%= notice %></p>
<% if user_signed_in? %>
  <div class="d-flex">
    <%= render partial: "buttonget", locals: { text: "Manager", link: projects_path } %> 
    <%= render partial: "buttonget", locals: { text: "Edit Project", link: edit_project_path(@project) } %> 
    <%= button_to "Destroy this project", @project, class: "col btn btn-primary", method: :delete, style:"margin-right: 1em;", :onclick => "return confirm('Are you sure?')" %>
  </div>
  <br/>
  <table class="table table-bordered table-stripped table-dark border-secondary table-sm" style="text-align: center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <% @project.project_tags.sort_by{|entry| [entry.tag.name] }.each_with_index do |entry, index| %>
    <tr style="vertical-align: middle;">
      <th scope="row"> <%= index %> </th>
      <td> <%= entry.tag.name %> </td>
      <td class="d-flex"> 
        <% if entry.hidden %>
          <%= button_to "Show", toggle_tag_on_project_path(id: entry), class: "btn btn-danger", style: "margin-right:15px", method: :patch %>
        <% else %>
          <%= button_to "Hide", toggle_tag_on_project_path(id: entry), class: "btn btn-primary", style: "margin-right:15px", method: :patch %>
        <% end %>      
      </td>      
    </tr>
    <% end %>
  </tbody>
  </table>
<% end %>
<br/>
<div class="project-header-details" style="margin-bottom: 15px;">
  <% if @project.github && @project.github.strip.length > 0 %>
    <div style="width: 50px; height: 50px; margin-right: 15px;">
      <a href=<%= @project.github %> target="_blank" rel="noopener" style="width: 100%; height: 100%">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" style="fill: white;" viewBox="0 0 24 24">
          <path d="M12 0C5.37 0 0 5.37 0 12s5.37 12 12 12 12-5.37 12-12S18.63 0 12 0zm0 22c-6.08 0-11-4.92-11-11s4.92-11 11-11 11 4.92 11 11-4.92 11-11 11zm0-19.75c-4.98 0-9 4.02-9 9 0 3.98 2.58 7.36 6.17 8.54.45.08.62-.2.62-.45 0-.22-.02-.78-.02-1.43-2.26.49-2.74-.55-2.74-.55-.37-.94-.91-1.19-.91-1.19-.74-.5.06-.49.06-.49.82.06 1.26.84 1.26.84.73 1.25 1.91.88 2.37.67.07-.53.28-.88.51-1.08-1.79-.2-3.68-.9-3.68-4.01 0-.88.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.22 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.12-1.9 3.81-3.69 4.01.29.25.54.74.54 1.49 0 1.08-.01 1.95-.01 2.21 0 .25.17.54.63.45 3.58-1.18 6.16-4.57 6.16-8.54 0-4.98-4.02-9-9-9z"/>
        </svg>
      </a>
    </div>
  <% end %>
  <p style="vertical-align: middle; margin-top: auto; margin-right: 15px;"> 
    <span> Completed: </span>
    <span style="color: red"> 
      <%= @project.is_completed ? "Yes" : "No" %> 
    </span>
  </p>
</div>
<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div id="<%= dom_id @project %>">
    <div style="display: flex; justify-content: space-between; vertical-align: center;">
      <div style=" display: flex; flex-wrap: nowrap; flex-direction: column; justify-content: center; align-content: center; align-items: flex-start; " >
        <div style="font-size: 3em;">
          <%= @project.title %>
        </div>
        <div>
          <% @project.project_tags.filter{|entry| !entry.hidden }.map{|entry| entry.tag}.each do |tag| %>
            <% properties = get_tag_colors(tag.name, 1.5) %>
            <div style="background: rgb(<%=properties[:background]%>); color: rgb(<%=properties[:text]%>); padding: 5px; border-radius: 5px; padding-top: 2px; padding-bottom:2px; width: fit-content; display: inline-block; vertical-align: middle; padding-right: 5px;">
              <div style="#position: relative; #top: -50%; font-size: 1em;">
                <%= tag.name %>
              </div>
            </div>
          <% end %>
        </div>
        <br/>
        <div style="font-size: 1em;">
          <%= @project.description %>
        </div>
      </div>
      <% if @project.image.content_type.in?(%w[image/jpeg image/png])%>
        <%= link_to image_tag(@project.image_as_thumbnail), @project.image if @project.image.attached? %>
        <hr />
      <% end %>
    </div>
  </div>
  <br/>

  <br/>

  <%= @project.body %>
  </div>
</div>

<div class="container">
  <% if user_signed_in? %>
      <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
          <tr class="table-dark">
            <th>Item</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% @project.attributes.each_pair do |name, value| %>
            <tr> 
              <td> <%= name %> </td> 
              <td> <%= value %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
</div>

<%#
  TO GET MARKDOWN LIKE TEXT @project.body.to_trix_html

  To get images: 
  @project.body.embeds_attachments.each do |image|
  image_tag url_for(image)

  to save this seems like you can throw all images in a folder,
  save the markdown in a higher folder and then zip it all up:

  rich_text/
    images/
        ...
    rich_text.md

  --->
  
  rich_text.zip

  
%>


