<div style="margin: 15px;">
    <span style="font-size: 2em;">
        Tag
    </span>
    <span style="background: pink; padding: 5px; border-radius: 5px; color: black; font-size: 1.75em;">
        <%= @tag.name%>
    </span>
</div>

<%= link_to tag_manager_path do %>
    <button class="btn btn-primary"> Manager </button>
<% end %>
<%= link_to tag_show_path(@tag) do %>
    <button class="btn btn-primary"> Show </button>
<% end %>

<%= form_with(url: tag_update_path, method: :post) do |form| %>
    <br/><br/>
    <div>
        <%= form.label "Tag Title (will merge if duplicated name)", class: "form-label", style: "display: block; font-size: 1.5em;" %>
        <%= form.text_field :title, class: "form-control", value: @tag.name %>
    </div>  <br/>
    <div>
        <%= form.label "Hide?", style: "display: block; font-size: 1.5em;", class: "form-label" %>
        <%= form.check_box :hide_in_view, class: "form-check", checked: @tag.hide_in_view %>
    </div> <br/>
    <div class="form-group">
        <%= form.label "Tagged (click to remove)", class: "col-md-4 control-label", style: "font-size: 2em;"  %>
        <div class="col-md-4">
            <%= form.collection_select(:remove_projects, @current, :id, :title, {:prompt => false}, {:multiple => true, class: "form-control", style: "height: fit-content;"}) %>
        </div>
    </div>
    <br/><br/>
    <div class="form-group">
        <%= form.label "Untagged (click to add)", class: "col-md-4 control-label", style: "font-size: 2em;" %>
        <div class="col-md-4">
            <%= form.collection_select(:add_projects, @not_in, :id, :title, {:prompt => false}, {:multiple => true, class: "form-control", style: "height: fit-content;"}) %>
        </div>
    </div>

  <%= form.submit 'Update Application', class: 'btn btn-primary' %>
<% end %>