
<br/>
<% if user_signed_in? %>
  <%= link_to projects_path do %>
    <%= button_tag "Manager", class: "btn btn-primary" , style: "margin-right: 1em;"%>
  <% end %>
  <%= link_to tag_manager_path do %>
    <%= button_tag "Tags", class: "btn btn-primary" , style: "margin-right: 1em;"%>
  <% end %>
<% end %>
<br/> <br/>

<div class="btn-group" role="group" aria-label="Basic example">
  <% ["Software Engineering", "Game Dev"].each do |name| %>
    <% btn_class = is_a_param("tab",name) ? "btn btn-success" : "btn btn-outline-success" %>
    <button type="button" class="<%=btn_class%>" style="margin-right: 3px">
      <%= link_to name, hash_path({tab: name}, true), style: "text-decoration: none; color: white;" %>
    </button>
  <% end %>
</div>
<br/><br/>

<h1>Tony's Project Portfolio!</h1>

<%# FILTER FOR GROUP %>
<div class="btn-group" style="margin-right: 10px;">
    <button class="btn btn-<%=get_class(@fi_tags.count)%> dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter For
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @fi_tags.each do |i| %>
          <%= link_to i, hash_path({filter_in: i}), class: "dropdown-item", style: "color: red;" %>
        <% end %>
        <% (@tags - @fi_tags).each do |i| %>
          <%= link_to i, hash_path({filter_in: i}), class: "dropdown-item", style: "color: white;" %>
        <% end %>
    </div>
</div>

<%# FILTER OUT GROUP %>
<div class="btn-group" style="margin-right: 10px;">
    <button class="btn btn-<%=get_class(@fo_tags.count)%> dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter Out
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% @fo_tags.each do |i| %>
          <%= link_to i, hash_path({filter_out: i}), class: "dropdown-item", style: "color: red;" %>
        <% end %>
        <% (@tags - @fo_tags).each do |i| %>
          <%= link_to i, hash_path({filter_out: i}), class: "dropdown-item", style: "color: white;" %>
        <% end %>
    </div>
</div>

<%# SORT GROUP %>
<div class="btn-group" style="margin-right: 10px;">
    <button class="btn btn-<%=get_class(@sort_by.length)%> dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% ["Youngest", "Oldest", "Last Completed", "Biggest Team", "Smallest Team", "Time Taken", "Most Work", "Least Work"].each do |i| %>
          <%= link_to i, hash_path({sort: i}, true), class: "dropdown-item", style: is_a_param("sort", i) ? "color: red;" : "color: white;" %>
        <% end %>
    </div>
</div>

<div class="btn-group" style="margin-right: 10px;">
    <button class="btn btn-<%=get_class(@completed_only || @currently_on ? 1 : 0)%> dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other Options
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "Completed/Maintained?", hash_path({completed: !@completed_only}, true), class: "dropdown-item", style: @completed_only ? "color: red;" : "color: white;" %>
      <%= link_to "Current Projects?", hash_path({currently_on: !@currently_on}, true), class: "dropdown-item", style: @currently_on ? "color: red;" : "color: white;" %>
      <%= link_to "See Irrelevant Projects?", hash_path({irrelevant: !@use_irrelevant}, true), class: "dropdown-item", style: @use_irrelevant ? "color: red;" : "color: white;" %>
    </div>
</div>

<br/> <br/>


<%# Flex Container. Children have class 'p-2' %>
<div class="d-flex flex-row flex-wrap mb-3">
  <% @projects.each do |project| %>
    <div class="p-2">
      <div class="card" style="width: 18rem; border: 2px solid gray;">
        <% if project.image.content_type.in?(%w[image/jpeg image/png])%>
          <div style="overflow: hidden; max-height: 30vh; display: flex; align-items: center;">
            <%= link_to image_tag(project.image, class: "card-img-top", style: "width: 100%; max-height: ;"), url_for(project.image) if project.image.attached? %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= project.title %> </h5>
          <% project.tags.each do |tag| %>
            <% if !tag.name.start_with?("!") %>
              <% properties = get_tag_colors(tag.name, 1.5) %>
              <div style="background: rgb(<%=properties[:background]%>); color: rgb(<%=properties[:text]%>); padding: 5px; border-radius: 5px; padding-top: 2px; padding-bottom:2px; width: fit-content; display: inline-block; vertical-align: middle; padding-right: 5px; margin-bottom: 5px;">
                <div style="#position: relative; font-size: 0.7em;">
                  <%= tag.name %>
                </div>
              </div>
            <% end %>
          <% end %>
          <p class="card-text">
            <% limit_length = 65 %>
            <% if project.description.length > limit_length %>
              <%= project.description.slice(0,limit_length) + "..." %>
            <% else %>
              <%= project.description %> 
            <% end %>
          </p>
          <% if project[:use_link] %>
            <%= link_to "View Project", project.page, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "View Project", project, class: "btn btn-primary" %>        
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
