<h1>Tony's Project Portfolio!</h1>

<% if user_signed_in? %>
  <%= link_to projects_path do %>
    <%= button_tag "Manager", class: "btn btn-primary" , style: "margin-right: 1em;"%>
  <% end %>
<% end %>

<%# Flex Container. Children have class 'p-2' %>
<div class="d-flex flex-row flex-wrap mb-3">
  <% @projects.each do |project| %>
    <div class="p-2">
      <div class="card" style="width: 18rem; border: 2px solid gray;">
        <% if project.image.content_type.in?(%w[image/jpeg image/png])%>
          <%= link_to image_tag(project.image, class: "card-img-top", style: "width: 100%; height: ;"), url_for(project.image) if project.image.attached? %>
          <hr />
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= project.title %> </h5>
          <% project.tags.each do |tag| %>
            <% properties = get_tag_colors(tag.name, 1.5) %>
              <div style="background: rgb(<%=properties[:background]%>); color: rgb(<%=properties[:text]%>); padding: 5px; border-radius: 5px; padding-top: 2px; padding-bottom:2px; width: fit-content; display: inline-block; vertical-align: middle; padding-right: 5px; margin-bottom: 5px;">
                <div style="#position: relative; font-size: 0.7em;">
                  <%= tag.name %>
                </div>
              </div>
          <% end %>
          <p class="card-text"><%= project.description%> </p>
          <% if project[:use_link] %>
            <%= link_to "View Project", project.page, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "View Project", project, class: "btn btn-primary" %>        
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
